extends ../layouts/application.pug

block header
  h1= t('layouts.application.users')

block content
  table.table.table-striped
    thead
      tr
        th= t('views.users.id')
        th= t('views.users.fullName')
        th= t('views.users.email')
        th= t('views.users.createdAt')
        th= t('views.users.actions')
    tbody
      each user in users
        tr
          td= user.id
          td= user.firstName + ' ' + user.lastName
          td= user.email
          td= formatDate(user.createdAt)
          td(class="d-flex") 
            a(href=route('users') + '/' + user.id + '/edit' class="btn btn-primary me-1")= t('views.users.edit')
            +formFor()(action=route('users') + '/' + user.id method='post')
              input(type="hidden" name="_method" value="DELETE")
              input(class='btn btn-danger' type='submit' value=t('views.users.remove'))