extends ../layouts/application.pug

block header
  h1= t('layouts.application.statuses')
  a(href=route('newStatus') class="btn btn-primary me-1")= t('views.statuses.create')
block content
  table.table.table-striped
    thead
      tr
        th= t('views.statuses.id')
        th= t('views.statuses.name')
        th= t('views.statuses.createdAt')
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td= formatDate(status.createdAt)
          td(class="d-flex") 
            a(href=route('statuses') + '/' + status.id + '/edit' class="btn btn-primary me-1")= t('views.users.edit')
            +formFor()(action=route('statuses') + '/' + status.id method='post')
              input(type="hidden" name="_method" value="DELETE")
              input(class='btn btn-danger' type='submit' value=t('views.users.remove'))