extends ../layouts/application.pug

block header
  h1= t('layouts.application.labels')
  a(href=route('newLabel') class="btn btn-primary me-1")= t('views.labels.create')
block content
  table.table.table-striped
    thead
      tr
        th= t('views.statuses.id')
        th= t('views.statuses.name')
        th= t('views.statuses.createdAt')
    tbody
      each label in labels
        tr
          td= label.id
          td= label.name
          td= formatDate(label.createdAt)
          td(class="d-flex") 
            a(href=route('labels') + '/' + label.id + '/edit' class="btn btn-primary me-1")= t('views.users.edit')
            +formFor()(action=route('labels') + '/' + label.id method='post')
              input(type="hidden" name="_method" value="DELETE")
              input(class='btn btn-danger' type='submit' value=t('views.users.remove'))